@charset "UTF-8";
.button {
  display      : inline-block;
  border-radius: 50%;                  /* 角丸 */
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor       : pointer;              /* カーソル形状 */
  transition   : .3s;                  /* なめらか変化 */
}
.button:hover {
  border-radius: 50%;                    /* 角丸 */
  width: 120px;
  height: 120px;
  object-fit: cover;
}